<!DOCTYPE html>
<html>
<head>
	<title>FileUpload</title>
</head>
<body>
    <h1>Upload a file</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
    	<label>
    		Title:
    		<input type="text" name="title">
    	</label>
    	<label>
    		Upload file:
    		<input type="file" name="uploaded">
    	</label>
    	<button>Submit</button>
    </form>
</body>
</html>